<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box-4 bg-teal hover-zoom-effect">
            <div class="icon">
                <i class="material-icons">shopping_cart</i>
            </div>
            <div class="content">
                <div class="text">VENDAS DO MÊS</div>
                <div class="number" counto [countTo]="125" [countFrom]="0" [step]="20" [duration]="1" (countoChange)="counto = $event">{{ counto }}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box-4 bg-cyan hover-zoom-effect">
            <div class="icon">
                <i class="material-icons">face</i>
            </div>
            <div class="content">
                <div class="text">TOTAL CLIENTES</div>
                <div class="number" counto [countTo]="125" [countFrom]="0" [step]="20" [duration]="1" (countoChange)="counto = $event">{{ counto }}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box-4 bg-pink hover-zoom-effect">
            <div class="icon">
                <i class="material-icons">list</i>
            </div>
            <div class="content">
                <div class="text">ESTOQUE BAIXO</div>
                <div class="number" counto [countTo]="125" [countFrom]="0" [step]="20" [duration]="1" (countoChange)="counto = $event">{{ counto }}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box-4 bg-orange hover-zoom-effect">
            <div class="icon">
                <i class="material-icons">person_add</i>
            </div>
            <div class="content">
                <div class="text">NOVAS VISITAS</div>
                <div class="number" counto [countTo]="125" [countFrom]="0" [step]="20" [duration]="1" (countoChange)="counto = $event">{{ counto }}</div>
            </div>
        </div>
    </div>
</div>