<div class="row clearfix">
  <!-- Task Info -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
          <div class="header">
              <h2>PRODUTOS COM ESTOQUE BAIXO</h2>
              <ul class="header-dropdown m-r--5">
                  <li class="dropdown">
                      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">more_vert</i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                          <li><a href="javascript:void(0);">Action</a></li>
                          <li><a href="javascript:void(0);">Another action</a></li>
                          <li><a href="javascript:void(0);">Something else here</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
          <div class="body">
              <div class="table-responsive">
                  <table class="table table-hover dashboard-task-infos">
                      <thead>
                          <tr>
                              <th>#ID</th>
                              <th>Produto</th>
                              <th>Valor</th>
                              <th>Total de itens</th>
                              <th>Situação</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>1</td>
                              <td>Camiseta vermelha</td>
                              <td>R$ 55,00</td>
                              <td>1</td>
                              <td>Exibir</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>Camiseta Roxa</td>
                            <td>R$ 63,40</td>
                            <td>3</td>
                            <td>Oculto</td>
                        </tr>
                          <tr>
                              <td>3</td>
                              <td>Camiseta Verde</td>
                              <td>R$ 56,68</td>
                              <td>3</td>
                              <td>Exibir</td>
                          </tr>
                          <tr>
                              <td>4</td>
                              <td>Camiseta Home-aranha</td>
                              <td>R$ 67,60</td>
                              <td>4</td>
                              <td>Exibir</td>
                          </tr>
                          <tr>
                              <td>5</td>
                              <td>Camiseta Homem de ferro</td>
                              <td>R$ 45,60</td>
                              <td>5</td>
                              <td>Oculto</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>