<div class="fp-page">
    <div class="fp-box">
        <div class="logo">
            <a href="javascript:void(0);">Admin <b>TZNE</b></a>
            <small>Painel administrativo da loja</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="forgot_password" method="POST">
                    <div class="msg">
                        Digite seu endereço de e-mail registrado. Nós lhe enviaremos um e-mail com seu nome de usuário e um link para redefinir sua senha.
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control" name="email" placeholder="E-mail" required autofocus>
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-teal waves-effect" type="submit">RESETAR SENHA</button>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a href="sign-in.html">Sign In!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>