
    <div class="header align-right">
        <button type="button" class="btn bg-blue waves-effect">
            <i class="material-icons">add</i>
            <span>INSERIR</span>
        </button>
        <button type="button" class="btn bg-red waves-effect">
            <i class="material-icons">delete</i>
            <span>EXCLUIR</span>
        </button>
    </div>
    <div class="body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-called">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>Marca</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Marca</th>
                        <th>Ação</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>
                        <input type="checkbox" class="filled-in chk-col-red" id="selectBrand1">
                        <label for="selectBrand1"></label>
                        </td>
                        <td>Tiger Nixon</td>
                        <td>
                            <button type="button" class="btn btn-success waves-effect p-l-8 p-r-8">
                                <i class="material-icons">edit</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input type="checkbox" class="filled-in chk-col-red" id="selectBrand2">
                        <label for="selectBrand2"></label>
                        </td>
                        <td>Garrett Winters</td>
                        <td>
                            <button type="button" class="btn btn-success waves-effect p-l-8 p-r-8">
                                <i class="material-icons">edit</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input type="checkbox" class="filled-in chk-col-red" id="selectBrand3">
                        <label for="selectBrand3"></label>
                        </td>
                        <td>Ashton Cox</td>
                        <td>
                            <button type="button" class="btn btn-success waves-effect p-l-8 p-r-8">
                                <i class="material-icons">edit</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input type="checkbox" class="filled-in chk-col-red" id="selectBrand4">
                        <label for="selectBrand4"></label>
                        </td>
                        <td>Cedric Kelly</td>
                        <td>
                            <button type="button" class="btn btn-success waves-effect p-l-8 p-r-8">
                                <i class="material-icons">edit</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input type="checkbox" class="filled-in chk-col-red" id="selectBrand5">
                        <label for="selectBrand5"></label>
                        </td>
                        <td>Airi Satou</td>
                        <td>
                            <button type="button" class="btn btn-success waves-effect p-l-8 p-r-8">
                                <i class="material-icons">edit</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input type="checkbox" class="filled-in chk-col-red" id="selectBrand6">
                        <label for="selectBrand6"></label>
                        </td>
                        <td>Brielle Williamson</td>
                        <td>
                            <button type="button" class="btn btn-success waves-effect p-l-8 p-r-8">
                                <i class="material-icons">edit</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input type="checkbox" class="filled-in chk-col-red" id="selectBrand7">
                        <label for="selectBrand7"></label>
                        </td>
                        <td>Herrod Chandler</td>
                        <td>
                            <button type="button" class="btn btn-success waves-effect p-l-8 p-r-8">
                                <i class="material-icons">edit</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input type="checkbox" class="filled-in chk-col-red" id="selectBrand8">
                        <label for="selectBrand8"></label>
                        </td>
                        <td>Rhona Davidson</td>
                        <td>
                            <button type="button" class="btn btn-success waves-effect p-l-8 p-r-8">
                                <i class="material-icons">edit</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input type="checkbox" class="filled-in chk-col-red" id="selectBrand9">
                        <label for="selectBrand9"></label>
                        </td>
                        <td>Colleen Hurst</td>
                        <td>
                            <button type="button" class="btn btn-success waves-effect p-l-8 p-r-8">
                                <i class="material-icons">edit</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input type="checkbox" class="filled-in chk-col-red" id="selectBrand10">
                        <label for="selectBrand10"></label>
                        </td>
                        <td>Sonya Frost</td>
                        <td>
                            <button type="button" class="btn btn-success waves-effect p-l-8 p-r-8">
                                <i class="material-icons">edit</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

