<div class="theme-red">
    <app-common></app-common>
    <!-- aqui ficará o corpo da aplicação -->
    <section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="header-fixed">
                    <h2>{{ pagina }}</h2>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <app-product-maintenance></app-product-maintenance>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
