
  <app-preloader></app-preloader>
  <div class="overlay"></div><!-- Sobreposição para barras laterais -->
  <app-header></app-header><!-- topo -->
  
  <section>
    <!-- Barra lateral esquerda -->
    <aside id="leftsidebar" class="sidebar">
      <app-user-info></app-user-info><!-- componente de informações do usuário -->
      <app-main-menu></app-main-menu><!-- menu principal -->
      <app-footer></app-footer><!-- rodapé -->
    </aside>
    <!-- #END# Barra lateral esquerda -->
  </section>

