<!-- Task Info -->
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div class="card">
        <div class="header">
            <h2>ULTIMAS VENDAS</h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another action</a></li>
                        <li><a href="javascript:void(0);">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <div class="table-responsive">
                <table class="table table-hover dashboard-task-infos">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Cliente</th>
                            <th>Situação</th>
                            <th>Data da Venda</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Everton Roberto</td>
                            <td><span class="label bg-green">Aprovado</span></td>
                            <td>24/08/2017</td>
                            <td>R$ 695,50</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Aline Ferreira</td>
                            <td><span class="label bg-red">Rejeitado</span></td>
                            <td>24/08/2017</td>
                            <td>R$ 1500,35</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Alex Dantas</td>
                            <td><span class="label bg-red">Rejeitado</span></td>
                            <td>24/08/2017</td>
                            <td>R$ 55,00</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Maria Cristina</td>
                            <td><span class="label bg-green">Aprovado</span></td>
                            <td>24/08/2017</td>
                            <td>R$ 632,00</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>João Matos</td>
                            <td><span class="label bg-green">Aprovado</span></td>
                            <td>24/08/2017</td>
                            <td>R$ 720,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>