
<ul class="nav navbar-nav navbar-right">
    <!-- Notificação -->
    <li class="dropdown">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
        <i class="material-icons">notifications</i>
        <span class="label-count">3</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">NOTIFICAÇÃO</li>
        <li class="body">
            <ul class="menu">
                <li>
                    <a href="javascript:void(0);">
                        <div class="icon-circle bg-light-green">
                            <i class="material-icons">person_add</i>
                        </div>
                        <div class="menu-info">
                            <h4>4 novos membros</h4>
                            <p>
                                <i class="material-icons">access_time</i> 14 min atrás
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="icon-circle bg-cyan">
                            <i class="material-icons">add_shopping_cart</i>
                        </div>
                        <div class="menu-info">
                            <h4>2 novas vendas</h4>
                            <p>
                                <i class="material-icons">access_time</i> 46 min atrás
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="icon-circle bg-blue-grey">
                            <i class="material-icons">comment</i>
                        </div>
                        <div class="menu-info">
                            <h4><b>Ricardo</b> deixou um comentário</h4>
                            <p>
                                <i class="material-icons">access_time</i> 4 horas atrás
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="footer">
            <a href="javascript:void(0);">Ver todas as notificações</a>
        </li>
    </ul>
    </li>
    <!-- #END# Notificação -->
</ul>
