<div class="header align-right">
  <button type="button" class="btn bg-blue waves-effect">
      <i class="material-icons">save</i>
      <span>SALVAR</span>
  </button>
  <button type="button" class="btn bg-orange waves-effect">
      <i class="material-icons">replay</i>
      <span>CANCELAR</span>
  </button>
</div>

<div class="body">
    <form class="p-l-10 p-r-10">
      <div class="row clearfix">
          <div class="header-description">
              <h3>Descrição da Marca</h3>
          </div>
      </div>
      <!-- NOME MARCA -->
      <div class="row clearfix m-b-20">
          <div class="form-group form-float">
              <div class="col-xs-12">
                  <div class="form-line">
                      <input type="text" id="nome_produto" class="form-control">
                      <label class="form-label">* Marca</label>
                  </div>
              </div>
          </div>
      </div>
      <!--END# NOME MARCA -->
    </form>
</div>
