<!-- Menu -->
<div class="menu">
  <ul class="list">
    <li class="header">MENU DE NAVEGAÇÃO</li>
    <li class="active">
        <a href="index.html">
            <i class="material-icons">dashboard</i>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" class="menu-toggle">
            <i class="material-icons">settings</i>
            <span>Administração</span>
        </a>
        <ul class="ml-menu">
            <li>
                <a href="#">Painel de Controle</a>
            </li>
            <li>
                <a href="#">Relatórios</a>
            </li>
            <li>
                <a href="#">Usuários</a>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <span>Vendas</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="javascript:void(0);">
                            <span>Pedidos</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span>Clientes</span>
                        </a>
                    </li> 
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">assignment</i>
                <span>Catálogo</span>
            </a>
        <ul class="ml-menu">
            <li>
                <a href="#">Departamentos</a>
            </li>
            <li>
                <a href="#">Marcas</a>
            </li>
            <li>
                <a href="#">Produtos</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0);" class="menu-toggle">
            <i class="material-icons">build</i>
            <span>Configurações</span>
        </a>
        <ul class="ml-menu">
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <span>Sub menu</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="#">sub sub 1</a>
                    </li>
                    <li>
                        <a href="#">sub sub 2</a>
                    </li>
                    <li>
                        <a href="#">sub sub 3</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
  </ul>
</div>
<!-- #Menu -->